#abecedaire{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  text-align: center;
}
/* Webfont: OpticianSans-Regular */@font-face {
    font-family: 'OpticianSans';
    src: url('../font/Optiker-K.woff2') format('woff2'), /* Modern Browsers */
         url('../font/Optiker-K.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
body{
  font-family: 'OpticianSans';
}
header{
position: fixed;
height: 200px;
}
#abecedaire > div {

  font-size: 12em;
  margin: 0;
}

/* colors cases */


.letterbox{
    border: 2px ;
    width: 220px;
    height: 350px;
    border-radius: 14px;
    text-align: center;
    position: relative;
}

.letterbox .svg_image{
  border: 2px ;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  transition: opacity 0.1s ease-in;

}


.letterbox:hover .svg_image{
  opacity: 1;

}

.letterbox:hover p{
  opacity: 0;

}


.letterbox p {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px  ;
  transform: translateX(-50%) translateY(-50%);
  transition: opacity 0s ease-in;

}

#un{
  background: #EDBDD4;
  color: #E75A1E;

}



#deux{
  background: #977C21;
  color: #F7EA6C;

}




#trois{
  background: #67A5DA;
  color: #EDBDD4;

}



#quatre{
  background: #F7EA6C;
  color: #949CCC;

}



#cinq{
  background: #EEF3DE;
  color: #949CCC;

}

#six{
  background: #92CCB4;
  color: #E75A1E;

}


#sept{
  background: #E75A1E;
  color: #EEF3DE;

}

#huit{
  background: #949CCC;
  color: #92CCB4;
}

#neuf{
  background: #E75A1E;
  color: #92CCB4;

}

#dix{
  background: #EDBDD4;
  color: #EEF3DE;

}

#onze{
  background: #977C21;
  color: #F7EA6C;

}

#douze{
  background: #F7EA6C;
  color:  #E75A1E;

}

#treize{
  background: #EEF3DE;
  color: #977C21;

}

#quatorze{
  background: #67A5DA;
  color: #F7EA6C;

}

#quinze{
  background: #949CCC;
  color: #E75A1E;
}

#seize{
  background: #92CCB4;
  color: #EDBDD4;

}


#dix-sept{
  background: #EDBDD4;
  color: #F7EA6C;

}

#dix-huit{
  background: #977C21;
  color: #92CCB4;

}

#dix-neuf{
  background: #67A5DA;
  color: #977C21;

}

#vingt{
  background: #F7EA6C;
  color: #949CCC;

}

#vingt-et-un{
  background: #EEF3DE;
  color: #E75A1E;

}

#vingt-deux{
  background: #92CCB4;
  color:  #EEF3DE;

}



#vingt-trois{
  background: #E75A1E;
  color: #EDBDD4;

}


#vingt-quatre{
  background: #949CCC;
  color: #977C21;

}



figcaption {
  font-size: 0.1em;
}
.wrapper {
    padding-top: 50px;
    /* display: inline-flex; */
    padding-inline-end: 165px;
    padding-left: 194px;
}

#abecedaire:target {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  text-align: center;
}
@media screen and (max-width: 1200px) {
  #abecedaire {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    text-align: center;
  }
}
